<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->

<!--
    Angular가 제공하는 클래스 바인딩 문법을 사용하면 특정 조건에 따라 CSS 클래스를 추가하거나 제거할 수 있습니다.
    스타일을 지정하려는 엘리먼트에 [class.some-css-class]="some-condition"와 같은 문법을 추가하면 됩니다.
-->
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>


<!-- 
    [(ngModel)] 는 Angular의 양방향 바인딩 문법입니다.
    FormsModule에서 제공하는 디렉티브
    hero.name 프로퍼티 값이 텍스트 박스로, 텍스트박스의 값이 다시 hero.name 프로퍼티로 전달

    selectedHero의 값이 undefined이면 ngIf는 히어로의 상세정보를 표현하는 부분을 DOM에서 제거합니다. 그래서 selectedHero를 바인딩하지 못하는 에러는 발생하지 않습니다.
    그리고 사용자가 히어로를 선택하면 selectedHero의 값이 비어있지 않기 때문에 ngIf가 히어로의 상세정보를 표현하는 부분을 DOM에 추가합니다.   
-->
<div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
      </label>
    </div>
  
</div>