<h2>Products</h2>

<!-- Directive *ngFor : 엘리먼트를 반복 -->
<div *ngFor="let product of products">

  <h3>
      <!-- property binding <a>의 title 속성에 값을 전달한다. -->
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <!-- Directive *ngIf : 조건에 따라 엘리먼트를 렌더링 할지 결정한다. -->
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">Share</button>

   <!-- notify 이벤트를 캐치한다. -->
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>

</div>